h1{
    font-family: 'Merriweather', serif;
    font-size:50px; 
    text-align: center;
}
body{
    background-color:aliceblue;
}
nav{
    width:100%;
    background-color:aqua;
    clear:both;
    margin:0;
    font-family:fantasy;
    font-size: 20px;
}
nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    list-style: none;
}
nav ul li{
    float: left;
}
nav ul li a{
    display:block;
    color:black;
    text-align:center;
    text-decoration:none;
    padding:14px 16px;
}
nav ul li a:hover{
    background-color:aquamarine;
}
.active{
    background-color: beige;
}
divcontainer button{
    width:100px;
    height:50px;
}
footer{
    text-align: center;
}
div#container{
    padding: 16px;
}
.skillsImg{
    width:250px;
    
}

div#grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
}
.grid-container h3{
    padding:0px;
    text-align: center;
    margin:0px;
}
.portImg{
    width:90%;
    height:auto;
    padding:20px 10px;
    margin:5px;
}

div#failAnim{
    margin-top: 301px;
}




@media screen and (max-width: 600px){
   h1{
    font-family: 'Merriweather', serif;
    font-size:50px; 
}
body{
    background-color:aliceblue;
}
nav{
    width:100%;
    background-color:aqua;
    clear:both;
    margin:0;
    font-family:fantasy;
    font-size: 20px;
}
nav ul{
    width: 100%;
    margin:0;
    padding:0;
    overflow:hidden;
    list-style: none;
}
nav ul li{
    float: none;
    border-style:outset;
    border-color:black;
}
nav ul li a{
    display:block;
    color:black;
    text-align:center;
    text-decoration:none;
    padding:14px 16px;
}
nav ul li a:hover{
    background-color:aquamarine;
}
.active{
    background-color: beige;
}
divcontainer button{
    width:100px;
    height:50px;
}
footer{
    text-align: center;
}
.skillsImg{
    width:250px;
} 
        
div#container #mypic{
    display:block;
    margin:auto;
}   
     
 div#grid-container{
    display:grid;
    grid-template-columns: auto;
    padding: 10px;
    align-content: center;
    text-align: center;
}   
.portImg{
    width:100%;
    padding:5px;
    align-content: center;
    float:left;
    text-align: center;
}  
    
    
}